* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	max-width: 100%;
}

h1 {
	letter-spacing: .1em;
	font-size: 2.5em;
	padding-block: 1em;
}

h2 {
	font-size: 2em;
	padding-block: .75em;
}

h3 {
	font-size: 1.5em;
	padding-block: .5em;
}

h4 {
	font-size: 1.3em;
	padding-block: .3em;
}

header {
	text-align: center;
	margin: .2em;
}

h1,
h2,
h3,
h4 {
	margin: auto;
}

main {
	display: grid;
	grid-template-columns: 40% 60%;
}

#mainLeft {
	border-right: 1px solid lightgray;
}

.contact p * {
	color: #888c;
	font-weight: 400;
	font-size: 1.1em;
	text-decoration: none;
	transition: .2s ease-in-out;
}

.contact p:hover * {
	color: #000;
	font-weight: 600;
}

hr {
	background-color: #888;
	padding-block: 1em;
}

section {
	margin: 2em auto;
	max-width: 60%;
	box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1), 0 -10px 20px -10px rgba(0, 0, 0, .3);
	border-radius: 40px;
	padding: 1.7em 3em;
}

p {
	font-size: 1.3em;
	margin-bottom: 1.5em;
	font-weight: 400;
}

i {
	margin: auto .3em;
}